{% extends "GoldenCageShopBundle::template.html.twig" %}

{% block body %}
<!--MAKE COPY OF THIS FILE AND USE IT AS IT IS-->
<!-- FOLLOW ASSETS path -->
<!-- Don't hand craft path -->
		<div class="login-div container">
			<h3 class="block-title">Create Account</h3>
			<div class="ruler">
			</div>
			<div class="span4 center mb-40">
				<form method="post" action="#" class="form-login">
					<p>
						*Required field
					</p>
					<div class="control-group">
						<label class="control-label" for="title">Title<span class="required">*</span></label>
						<label type="radio"><input type="radio" value="Mr" name="title"> Mr</label>
						<label type="radio"><input type="radio" value="Ms" name="title"> Ms</label>
						<label type="radio"><input type="radio" value="Miss" name="title"> Miss</label>
					</div>
					<div class="control-group">
						<label class="control-label" for="name">Name<span class="required">*</span></label>
						<input type="text" id="name" placeholder="Name">
					</div>
					<div class="control-group">
						<label class="control-label" for="surname">Surname<span class="required">*</span></label>
						<input type="text" id="surname" placeholder="Surname">
					</div>
					<div class="control-group">
						<label class="control-label" for="inputEmail">Email<span class="required">*</span></label>
						<input type="text" id="inputEmail" placeholder="Email">
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">Password<span class="required">*</span></label>
						<input type="password" id="inputPassword" placeholder="Password">
					</div>
					<div class="control-group">
						<label class="control-label" for="inputPassword">&nbsp;</label><input type="checkbox">Sign up for our newsletter! <br>
						<label class="control-label" for="inputPassword">&nbsp;</label><input type="checkbox"> I wish register to Deal of the Day
					</div>
					<input type="submit" value="Register" class="btn btn-large btn-danger"/>
				</form>
			</div>
		</div>
	
{% endblock %}